SILICONFLOW_API_KEY=your-api-key-here
OPENROUTER_API_KEY=
GEMINI_API_KEY=your-api-key-here
GITHUB_TOKEN=your-github-token-here
OPENCODE_ZEN_API_KEY=
KILO_API_KEY=
GH_TOKEN=

# LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=