[submodule "reference_repo/kilocode"]
	path = reference_repo/kilocode
	url = https://github.com/Kilo-Org/kilocode
[submodule "reference_repo/codex"]
	path = reference_repo/codex
	url = https://github.com/openai/codex
[submodule "reference_repo/vscode-copilot-chat"]
	path = reference_repo/vscode-copilot-chat
	url = https://github.com/microsoft/vscode-copilot-chat.git
[submodule "reference_repo/cline"]
	path = reference_repo/cline
	url = https://github.com/cline/cline
[submodule "reference_repo/vscode-docs"]
	path = reference_repo/vscode-docs
	url = https://github.com/microsoft/vscode-docs.git
